<title>homePage</title>
{{>header}}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>


<main>
    {{!-- intro begins here --}}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">QUIZZES</h1>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim doloremque quo voluptate dolorum
                    ratione porro nostrum asperiores recusandae sint corporis ad quia aliquam laboriosam numquam
                    quae pariatur, placeat esse expedita!
                </p>

            </div>
        </div>
    </section>
    {{!-- intro ends here --}}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    {{!-- card1 begins here --}}
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: thumb nail of the quiz" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                thumb nail of the quiz of th quiz
                            </text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">
                                Add Update or delete quiz as admin
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        start
                                    </button>

                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        update
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        delete
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                    {{!-- card1 ends here --}}
                </div>

                {{!-- card2 begins here --}}
                {{!-- <div class="col">

                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: thumb nail of the quiz" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                thumb nail of the quiz
                            </text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        start
                                    </button>

                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        update
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        delete
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>

                </div> --}}
                {{!-- card2 ends here --}}

                {{!-- card3 begins here --}}
                {{!-- <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: thumb nail of the quiz" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                thumb nail of the quiz
                            </text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        start
                                    </button>

                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        update
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        delete
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div> --}}
                {{!-- card3 ends here --}}

                <div class="col">
                    {{!-- card4 begins here --}}
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: thumb nail of the quiz" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                players
                            </text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">
                                check players score and detalis as a admin
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                        profile
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                    {{!-- card4 ends here --}}
                </div>

                {{!-- card5 begins here --}}
                {{!-- <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: thumb nail of the quiz" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                thumb nail of the quiz
                            </text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div> --}}
                {{!-- card5 ends here --}}

                <div class="col">
                    {{!-- card6 begins here --}}
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" role="img"
                            aria-label="Placeholder: thumb nail of the quiz" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                                thumb nail of the quiz
                            </text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit
                                longer.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                    {{!-- card6 ends here --}}

                </div>
            </div>
        </div>
    </div>
</main>