<body class="u-body u-xl-mode">

  <section class="u-black u-clearfix u-section-1" id="sec-ef54">
    <div
      class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1"
    >
      <div
        class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1"
      >
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-15 u-size-30-md u-layout-cell-1"
            >
              <div
                class="u-border-2 u-border-palette-3-base u-container-layout u-container-layout-1"
              >
                <span
                  class="u-file-icon u-icon u-icon-rectangle u-text-palette-3-base u-icon-1"
                ><img src="images/8.png" alt="" /></span>
                <a
                  href="https://nicepage.com/wysiwyg-html-editor"
                  class="u-active-palette-3-base u-border-2 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-hover-white u-none u-radius-30 u-btn-1"
                >go</a>
                <p
                  class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-text-palette-3-base u-text-1"
                >
                  change your credentials here
                </p>
              </div>
            </div>
            <div
              class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-15 u-size-30-md u-layout-cell-2"
            >
              <div
                class="u-border-2 u-border-palette-2-base u-container-layout u-container-layout-2"
              >
                <span class="u-file-icon u-icon u-icon-2"><img
                    src="images/3874176-9.png"
                    alt=""
                  /></span>
                <a
                  href="https://nicepage.com/website-mockup"
                  class="u-active-palette-2-base u-border-2 u-border-active-palette-2-base u-border-hover-palette-2-base u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-white u-none u-radius-30 u-btn-2"
                >go</a>
                <p
                  class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-text-palette-2-base u-text-2"
                >
                  add or delete quiz here
                </p>
              </div>
            </div>
            <div
              class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-15 u-size-30-md u-layout-cell-3"
            >
              <div
                class="u-border-2 u-border-custom-color-2 u-container-layout u-container-layout-3"
              >
                <span
                  class="u-file-icon u-icon u-text-custom-color-2 u-icon-3"
                ><img src="images/10.png" alt="" /></span>
                <a
                  href="https://nicepage.app"
                  class="u-active-custom-color-2 u-border-2 u-border-custom-color-2 u-border-hover-custom-color-2 u-btn u-btn-round u-button-style u-hover-white u-none u-radius-30 u-btn-3"
                >go</a>
                <p
                  class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-custom-color-2 u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-text-3"
                >
                  view all the players and their info
                </p>
              </div>
            </div>
            <div
              class="u-container-style u-layout-cell u-radius-30 u-shape-round u-size-15 u-size-30-md u-layout-cell-4"
            >
              <div
                class="u-border-2 u-border-white u-container-layout u-container-layout-4"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>