<body class="u-body u-xl-mode">

  <section
    class="u-clearfix u-image u-section-1"
    id="sec-b1c2"
    data-image-width="545"
    data-image-height="360"
  >
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-container-style u-layout-cell u-size-30 u-layout-cell-1"
            >
              <div class="u-container-layout u-container-layout-1">
                <div
                  class="u-border-2 u-border-custom-color-1 u-form u-login-control u-radius-31 u-form-1"
                >
                  <form
                    action="#"
                    method="POST"
                    class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form"
                    source="custom"
                    name="form"
                    style="padding: 10px"
                  >
                    <div class="u-form-group u-form-name">
                      <label
                        for="username-a30d"
                        class="u-label u-text-body-alt-color u-label-1"
                      >Username *</label>
                      <input
                        type="text"
                        placeholder="Enter your Username"
                        id="username-a30d"
                        name="username"
                        class="u-border-2 u-border-custom-color-1 u-input u-input-rectangle u-radius-32 u-text-custom-color-2 u-input-1"
                        required=""
                      />
                    </div>
                    <div class="u-form-group u-form-password">
                      <label
                        for="password-a30d"
                        class="u-label u-text-body-alt-color u-label-2"
                      >Password *</label>
                      <input
                        type="text"
                        placeholder="Enter your Password"
                        id="password-a30d"
                        name="password"
                        class="u-border-2 u-border-custom-color-1 u-input u-input-rectangle u-radius-32 u-text-custom-color-2 u-input-2"
                        required=""
                      />
                    </div>
                    <div class="u-form-checkbox u-form-group">
                      <input
                        type="checkbox"
                        id="checkbox-a30d"
                        name="remember"
                        value="On"
                      />
                      <label
                        for="checkbox-a30d"
                        class="u-label u-text-body-alt-color u-label-3"
                      >Remember me</label>
                    </div>
                    <div
                      class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-form-group u-form-submit"
                    >
                      <a
                        href="#"
                        class="u-active-palette-3-base u-border-2 u-border-custom-color-1 u-btn u-btn-round u-btn-submit u-button-style u-hover-custom-color-2 u-palette-1-base u-radius-31 u-btn-1"
                      >Login</a>
                      <input
                        type="submit"
                        value="submit"
                        class="u-form-control-hidden"
                      />
                    </div>
                    <input type="hidden" value="" name="recaptchaResponse" />
                  </form>
                </div>
                <p class="u-text u-text-custom-color-1 u-text-default u-text-1">
                  login with facebook or google?
                </p>
                <span
                  class="u-file-icon u-icon u-text-custom-color-1 u-icon-1"
                ><img src="images/3.png" alt="" /></span><span
                  class="u-file-icon u-icon u-icon-circle u-text-custom-color-1 u-icon-2"
                ><img src="images/4.png" alt="" /></span>
              </div>
            </div>
            <div
              class="u-container-style u-layout-cell u-size-30 u-layout-cell-2"
            >
              <div class="u-container-layout u-container-layout-2">
                <div
                  class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1"
                >
                  <div class="u-repeater u-repeater-1">
                    <div
                      class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-border-2 u-border-custom-color-1 u-container-style u-hover-feature u-image u-list-item u-radius-30 u-repeater-item u-shape-round u-image-1"
                      data-image-width="128"
                      data-image-height="128"
                    >
                      <div
                        class="u-container-layout u-similar-container u-container-layout-3"
                      ></div>
                    </div>
                    <div
                      class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xs u-border-2 u-border-custom-color-1 u-container-style u-hover-feature u-image u-list-item u-radius-30 u-repeater-item u-shape-round u-image-2"
                      data-image-width="128"
                      data-image-height="128"
                    >
                      <div
                        class="u-container-layout u-similar-container u-container-layout-4"
                      ></div>
                    </div>
                    <div
                      class="u-border-2 u-border-custom-color-1 u-container-style u-hover-feature u-image u-list-item u-radius-30 u-repeater-item u-shape-round u-image-3"
                      data-image-width="128"
                      data-image-height="128"
                    >
                      <div
                        class="u-container-layout u-similar-container u-container-layout-5"
                      ></div>
                    </div>
                    <div
                      class="u-border-2 u-border-custom-color-1 u-container-style u-hover-feature u-image u-list-item u-radius-30 u-repeater-item u-shape-round u-image-4"
                      data-image-width="128"
                      data-image-height="128"
                    >
                      <div
                        class="u-container-layout u-similar-container u-container-layout-6"
                      ></div>
                    </div>
                    <div
                      class="u-border-2 u-border-custom-color-1 u-container-style u-hover-feature u-image u-list-item u-radius-30 u-repeater-item u-shape-round u-image-5"
                      data-image-width="128"
                      data-image-height="128"
                    >
                      <div
                        class="u-container-layout u-similar-container u-container-layout-7"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>