<body class="u-body u-xl-mode">

  <section class="u-black u-clearfix u-section-1" id="sec-c63f">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-col">
          <div
            class="u-black u-container-style u-layout-cell u-size-60 u-layout-cell-1"
          >
            <div
              class="u-container-layout u-valign-top-xl u-container-layout-1"
            >
              <div
                class="u-countdown u-countdown-1"
                data-timer-id="fd79"
                data-type="to-time"
                data-target-date="today"
                data-for="everyone"
                data-direction="down"
                data-time-left="1m"
                data-after-count="message"
                data-count-animation="slide"
              >
                <div class="u-countdown-wrapper u-spacing-20">
                  <div
                    class="u-countdown-item u-countdown-years u-hidden u-spacing-10"
                  >
                    <div class="u-countdown-counter u-countdown-counter-1">
                      <div class="u-countdown-number u-text-palette-1-base">
                        0
                      </div>
                      <div
                        class="u-countdown-number u-hidden u-text-palette-1-base"
                      >
                        0
                      </div>
                    </div>
                    <div class="u-countdown-label u-countdown-label-1">
                      Years
                    </div>
                  </div>
                  <div
                    class="u-countdown-separator u-hidden u-text-palette-1-base u-countdown-separator-1"
                  >
                    :
                  </div>
                  <div
                    class="u-countdown-days u-countdown-item u-hidden u-spacing-10"
                  >
                    <div class="u-countdown-counter u-countdown-counter-2">
                      <div class="u-countdown-number u-text-palette-1-base">
                        0
                      </div>
                      <div
                        class="u-countdown-number u-hidden u-text-palette-1-base"
                      >
                        6
                      </div>
                      <div
                        class="u-countdown-number u-hidden u-text-palette-1-base"
                      >
                        0
                      </div>
                    </div>
                    <div class="u-countdown-label u-countdown-label-2">
                      Days
                    </div>
                  </div>
                  <div
                    class="u-countdown-separator u-hidden u-text-palette-1-base u-countdown-separator-2"
                  >
                    :
                  </div>
                  <div
                    class="u-countdown-hours u-countdown-item u-hidden u-spacing-10"
                  >
                    <div class="u-countdown-counter u-countdown-counter-3">
                      <div class="u-countdown-number u-text-palette-1-base">
                        0
                      </div>
                      <div class="u-countdown-number u-text-palette-1-base">
                        6
                      </div>
                    </div>
                    <div class="u-countdown-label u-countdown-label-3">
                      Hours
                    </div>
                  </div>
                  <div
                    class="u-countdown-separator u-hidden u-text-palette-1-base u-countdown-separator-3"
                  >
                    :
                  </div>
                  <div
                    class="u-countdown-item u-countdown-minutes u-spacing-10"
                  >
                    <div class="u-countdown-counter u-countdown-counter-4">
                      <div class="u-countdown-number u-text-palette-1-base">
                        5
                      </div>
                      <div class="u-countdown-number u-text-palette-1-base">
                        1
                      </div>
                    </div>
                    <div class="u-countdown-label u-countdown-label-4">
                      Minutes
                    </div>
                  </div>
                  <div
                    class="u-countdown-separator u-text-palette-1-base u-countdown-separator-4"
                  >
                    :
                  </div>
                  <div
                    class="u-countdown-item u-countdown-seconds u-spacing-10"
                  >
                    <div class="u-countdown-counter u-countdown-counter-5">
                      <div class="u-countdown-number u-text-palette-1-base">
                        3
                      </div>
                      <div class="u-countdown-number u-text-palette-1-base">
                        1
                      </div>
                    </div>
                    <div class="u-countdown-label u-countdown-label-5">
                      Seconds
                    </div>
                  </div>
                  <div
                    class="u-countdown-separator u-hidden u-text-palette-1-base u-countdown-separator-5"
                  >
                    :
                  </div>
                  <div
                    class="u-countdown-item u-countdown-numbers u-hidden u-spacing-10"
                  >
                    <div class="u-countdown-counter u-countdown-counter-6">
                      <div class="u-countdown-number u-text-palette-1-base">
                        0
                      </div>
                      <div class="u-countdown-number u-text-palette-1-base">
                        0
                      </div>
                    </div>
                    <div class="u-countdown-label u-countdown-label-6">
                      Items
                    </div>
                  </div>
                </div>
                <div
                  class="u-countdown-message u-custom-font u-font-oswald u-hidden u-text-palette-2-base u-countdown-message-1"
                >
                  <p>Sorry, the time is up.</p>
                </div>
              </div>
              <h4
                class="u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-text-1"
                data-animation-name="customAnimationIn"
                data-animation-duration="1500"
                data-animation-delay="0"
                data-animation-direction=""
              >
                WHICH IS OPTION "A"?
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1"
    >
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2"
          >
            <a
              href="#"
              class="u-active-white u-border-2 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-none u-radius-30 u-btn-1"
            >OPTION"A"</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3"
          >
            <a
              href="#"
              class="u-active-white u-border-2 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-none u-radius-30 u-btn-2"
            >OPTION"B"</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4"
          >
            <a
              href="#"
              class="u-active-white u-border-2 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-none u-radius-30 u-btn-3"
            >OPTION"C"</a>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-5"
          >
            <a
              href="#"
              class="u-active-white u-border-2 u-border-active-palette-3-base u-border-hover-palette-3-base u-border-palette-3-base u-btn u-btn-round u-button-style u-none u-radius-30 u-btn-4"
            >OPTION"D"</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>