<body class="u-body u-xl-mode">
  <section
    class="u-clearfix u-image u-video-contain-lg u-video-contain-md u-video-contain-sm u-video-contain-xs u-section-1"
    id="sec-b917"
    data-image-width="2000"
    data-image-height="1333"
  >
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-border-2 u-border-grey-75 u-form u-radius-32 u-form-1">
        <form
          action="#"
          method="POST"
          class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
          source="custom"
          name="form"
          style="padding: 10px"
        >
          <div class="u-form-group u-form-name">
            <label
              for="name-6004"
              class="u-label u-text-white u-label-1"
            >Name</label>
            <input
              type="text"
              placeholder="Enter your Name"
              id="name-6004"
              name="name"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-31 u-white"
              required=""
            />
          </div>
          <div class="u-form-email u-form-group">
            <label
              for="email-6004"
              class="u-label u-text-white u-label-2"
            >Email</label>
            <input
              type="email"
              placeholder="Enter a valid email address"
              id="email-6004"
              name="email"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-31 u-white"
              required=""
            />
          </div>
          <div class="u-form-group u-form-group-3">
            <label
              for="text-c585"
              class="u-label u-text-white u-label-3"
            >Password</label>
            <input
              type="text"
              placeholder="password"
              id="text-c585"
              name="text"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-31 u-white"
              required="required"
            />
          </div>
          <div class="u-form-group u-form-group-4">
            <label
              for="text-34e8"
              class="u-label u-text-white u-label-4"
            >Confirm-password</label>
            <input
              type="text"
              placeholder="confirm password"
              id="text-34e8"
              name="text-1"
              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-31 u-white"
              required="required"
            />
          </div>
          <div
            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-form-group u-form-submit"
          >
            <a
              href="#"
              class="u-active-palette-3-base u-border-none u-btn u-btn-round u-btn-submit u-button-style u-palette-2-base u-radius-20 u-btn-1"
            >Submit</a>
            <input type="submit" value="submit" class="u-form-control-hidden" />
          </div>
          <div class="u-form-send-message u-form-send-success">
            Thank you! Your message has been sent.
          </div>
          <div class="u-form-send-error u-form-send-message">
            Unable to send your message. Please fix errors then try again.
          </div>
          <input type="hidden" value="" name="recaptchaResponse" />
        </form>
      </div>
    </div>
  </section>
</body>