 .u-section-1 {
  min-height: 430px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 100px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  text-transform: uppercase;
}

.u-section-1 .u-text-3 {
  width: auto;
  margin: -26px auto 0 135px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  width: 100px;
  height: 100px;
  margin: 22px 60px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 164px auto 0 20px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 48px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 1016px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    font-style: italic;
  }

  .u-section-1 .u-text-2 {
    animation-timing-function: ease;
  }

  .u-section-1 .u-text-3 {
    animation-timing-function: ease;
    margin-top: -28px;
    margin-left: 162px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-icon-1 {
    animation-timing-function: ease;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    transition-duration: 0.5s;
    margin-top: 173px;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 70px;
    padding: 10px 53px 10px 52px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 119px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 860px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 66px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 92px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    margin-right: auto;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}